@import url(//fonts.googleapis.com/css?family=Amatic+SC);
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900");
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Caveat:wght@600&family=Edu+NSW+ACT+Foundation:wght@500&family=Gloria+Hallelujah&family=Kalam&family=Patrick+Hand&display=swap');
:root {
    --tree-distance: 0;
    background-color: #0098d8;
    color: #333;
    /* font-family: 'Waiting for the Sunrise', cursive;  */
  }

  body {
    /* font-family: 'Waiting for the Sunrise', cursive;  */
    font-size:25px; 
    margin: 10px 50px; 
    letter-spacing: 6px; 
    font-weight: 600;
    
  }

  .wraper {
    display: flex;
    height: 100vh;
    align-items: center;
    width: 100%;
    /* justify-content: center; */

}
.right {
    margin-left: auto;
    margin-right: auto;
}
#typedtext {
    background-image: url('pin.png');
    height: 58vh;
    width: 60vh;
    background-color:  #fff;
    border-radius: 50px;
    padding: 1em;
    border: 2px solid transparent;
    outline: none;
    transition: all 0.2s;
    background-repeat: no-repeat;
    background-position: right; 
    background-position-y: 0px;
    background-size: 12vh;
    /* font-family: 'Pacifico'; */
    font-family: 'Gloria Hallelujah';
    text-align: center;
}
  
  .scene {
    background-color: #0098d8;
    font-size: 100vmin;
    height: 1em;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 1.0em;
  }
  .scene div,
  .scene ::before,
  .scene ::after {
    position: absolute;
  }
  
  .sun {
    background-color: orange;
    border-radius: 100%;
    height: 0.2em;
    left: 30%;
    top: 22%;
    width: 0.2em;
  }
  
  .mountain {
    background: grey;
    bottom: 25%;
    -webkit-clip-path: polygon(0% 100%, 50% 0%, 50% 0%, 100% 100%);
            clip-path: polygon(0% 100%, 50% 0%, 50% 0%, 100% 100%);
  }
  .mountain.one {
    background-color: #aacecd;
    height: 0.3em;
    left: 20%;
    width: 0.5em;
    z-index: 2;
  }
  .mountain.two {
    background-color: #9dbbcc;
    height: 0.4em;
    left: 30%;
    width: 0.64em;
  }
  .mountain::after {
    background-color: white;
    -webkit-clip-path: polygon(50% 0%, 75% 50%, 62% 41%, 50% 50%, 39% 40%, 25% 50%);
            clip-path: polygon(50% 0%, 75% 50%, 62% 41%, 50% 50%, 39% 40%, 25% 50%);
    content: "";
    height: 100%;
    width: 100%;
  }
  
  .car {
    background: #a50029;
    border-radius: 0.01em;
    bottom: 26%;
    -webkit-clip-path: polygon(66% 63%, 79% 79%, 94% 79%, 100% 100%, 0 100%, 3% 63%);
            clip-path: polygon(66% 63%, 79% 79%, 94% 79%, 100% 100%, 0 100%, 3% 63%);
    height: 0.2em;
    left: 40%;
    width: 0.2em;
    z-index: 4;
  }
  
  .windows {
    background-color: black;
    bottom: 30%;
    -webkit-clip-path: polygon(1% 60%, 83% 60%, 100% 100%, 0% 100%);
            clip-path: polygon(1% 60%, 83% 60%, 100% 100%, 0% 100%);
    height: 0.075em;
    left: 40.6%;
    width: 0.145em;
    z-index: 4;
  }
  .windows .pane {
    background: #002146;
    height: 0.1em;
    width: 0.045em;
    z-index: 5;
  }
  .windows .pane:nth-of-type(2n) {
    left: 0.05em;
  }
  .windows .pane:nth-of-type(3n) {
    left: 0.1em;
  }
  
  .bumper {
    background: lightgrey;
    border-radius: 10%;
    bottom: 26%;
    height: 0.01em;
    width: 0.015em;
    z-index: 5;
  }
  .bumper.left {
    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    left: 40%;
  }
  .bumper.right {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    left: 52.5%;
  }
  
  .headlight {
    background: linear-gradient(0.25turn, orange, lightgrey);
    border-radius: 10%;
    bottom: 14%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 15% 100%);
    height: 0.01em;
    right: 2%;
    width: 0.015em;
    z-index: 5;
  }
  
  .taillight {
    background: red;
    border-radius: 10%;
    bottom: 13%;
    -webkit-clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    height: 0.01em;
    left: 1%;
    width: 0.0075em;
    z-index: 5;
  }
  
  .handle {
    background: darkred;
    bottom: 14%;
    height: 0.005em;
    width: 0.0075em;
  }
  .handle.left {
    left: 30%;
  }
  .handle.right {
    left: 55%;
  }
  
  .wheel {
    -webkit-animation: wheel 0.5s linear infinite;
            animation: wheel 0.5s linear infinite;
    background: black;
    border-radius: 100%;
    bottom: 25%;
    height: 0.041em;
    width: 0.04em;
    z-index: 4;
  }
  .wheel::after {
    background-color: lightgrey;
    -webkit-clip-path: polygon(50% 0, 55% 50%, 100% 40%, 60% 60%, 80% 100%, 50% 65%, 20% 100%, 40% 60%, 0 40%, 45% 50%);
            clip-path: polygon(50% 0, 55% 50%, 100% 40%, 60% 60%, 80% 100%, 50% 65%, 20% 100%, 40% 60%, 0 40%, 45% 50%);
    content: "";
    height: 70%;
    left: 15%;
    top: 10%;
    width: 70%;
  }
  .wheel.left {
    left: 41.5%;
  }
  .wheel.right {
    left: 49.5%;
  }
  .wheel .rim {
    border: 0.004em solid lightgrey;
    border-radius: 100%;
    height: 60%;
    left: 10%;
    top: 10%;
    width: 60%;
    z-index: 5;
  }
  
  .trees {
    -webkit-animation: treesOut 4s linear infinite;
            animation: treesOut 4s linear infinite;
  }
  
  .trees2 {
    -webkit-animation: treesIn 4s linear infinite;
            animation: treesIn 4s linear infinite;
  }
  
  .trees,
  .trees2 {
    bottom: 25%;
    height: 20%;
    width: 100%;
    z-index: 3;
  }
  .trees .tree,
  .trees2 .tree {
    left: var(--tree-distance);
  }
  .trees .tree:nth-child(2n) .top,
  .trees2 .tree:nth-child(2n) .top {
    background: forestgreen;
  }
  .trees .tree:nth-child(2n),
  .trees2 .tree:nth-child(2n) {
    top: 20%;
    transform: scale(0.8);
  }
  .trees .tree:nth-child(3n),
  .trees2 .tree:nth-child(3n) {
    top: -20%;
    transform: scale(1.2);
  }
  .trees .tree .top,
  .trees2 .tree .top {
    background-color: darkgreen;
    -webkit-clip-path: polygon(0% 100%, 50% 0%, 50% 0%, 100% 100%);
            clip-path: polygon(0% 100%, 50% 0%, 50% 0%, 100% 100%);
    height: 0.15em;
    width: 0.025em;
  }
  .trees .tree .trunk,
  .trees2 .tree .trunk {
    background: brown;
    height: 0.05em;
    left: 0.01em;
    top: 0.15em;
    width: 0.005em;
  }
  
  @-webkit-keyframes treesOut {
    from {
      transform: translate(0);
    }
    to {
      transform: translate(-100%);
    }
  }
  
  @keyframes treesOut {
    from {
      transform: translate(0);
    }
    to {
      transform: translate(-100%);
    }
  }
  @-webkit-keyframes treesIn {
    from {
      transform: translate(100%);
    }
    to {
      transform: translate(0);
    }
  }
  @keyframes treesIn {
    from {
      transform: translate(100%);
    }
    to {
      transform: translate(0);
    }
  }
  @-webkit-keyframes wheel {
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes wheel {
    100% {
      transform: rotate(360deg);
    }
  }

  /* btn */ 
.btn_play {
    position: relative;
    top: 50px;
    width: 100%;
}
.btn{
	color: #fff;
	text-decoration: none;
	border: 3px solid #fff;
	border-radius: 18px;
	font-family: Helvetica;
	font-weight: 600;
	font-size:20px;
	line-height: 10px;
	letter-spacing: 2px;

	padding: 25px 60px;
	position: absolute;
	top: 50%;
    right: 0px;
	/* transform: translate(-50%,-50%); */
    height: fit-content;
	overflow: hidden;
	transition: all 0.3s;

}
.btn > span {
    z-index: 10;
    position: relative;
}


.btn:before{
	content: "";
	position: absolute;
	width: 320px;
	height: 320px;
	border-radius: 140px;
	background-color: orange;

	top: 70px;
	left: 50%;
	/*transform: translateX(-50%);*/

	animation: wave 5s infinite linear;
	transition: all 1s;
}
@keyframes wave{
	0%{transform: translateX(-50%) rotate(0deg);

	} 
	100%{transform: translateX(-50%) rotate(360deg);

	}
}
.btn:hover{
	color: #fff;
	/*transition: all 0.3s;*/
}
.btn:hover:before{
	top: 25px;
	/*transition: all 1s;*/
}

/* music */
.right-col {
    /* float: left; */
    margin-top: 50px;
    display: flex; 
    align-items: center;
}

#icon {
    width: 50px;
    cursor: pointer;
}